.container_form{
    width: 230px;
    border: 1px solid rgba(0, 0, 0, 0.298);
    padding: 10px 0 10px 15px;
    box-shadow: 12px 13px 16px 0px rgba(0,0,0,0.68);
    -webkit-box-shadow: 12px 13px 16px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 12px 13px 16px 0px rgba(0,0,0,0.68);
}
textarea:focus, .input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.568);
    outline: 0;
} 
.input, select{
    font-size: 12px;
    width: 90%;
    height: 20px;
    border-radius: 4px;
    margin: 0 0 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.568);
}
.button {
    margin: auto;
    color: white;
    background-color: rgb(33, 163, 33);
    border: 1px solid rgba(0, 0, 0, 0.348);
    border-radius: 2px;
    opacity: 0.9;
}
.button:hover{
    opacity: 1;
}
.container_button{
    display: flex;
    align-items: center;
    margin: 12px 0 0 -15px;
}