<%= stylesheet_link_tag 'application.css' %>

<section class="container_view_form">
  <h1>Cadastrar Medico</h1>

  <%= render "form", medico: @medico %>

  <br>

  <div>
    <%= link_to "Back to medicos", medicos_path %>
  </div>
</section>
